<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Редиректы frontend—design</title>

    <meta name="yandex-verification" content="89fc012efefbd65d" />

    <link rel="stylesheet" href="/static/css/style.min.css">
    {# <link rel="icon" href="/static/favicons/favicon.ico"> #}
    <link rel="icon" href="/static/favicons/base-16x16.png" sizes="16x16">
    <link rel="icon" href="/static/favicons/base-24x24.png" sizes="32x32">
    <link rel="icon" href="/static/favicons/base-32x32.png" sizes="32x32">
    <link rel="icon" href="/static/favicons/base-64x64.png" sizes="64x64">

    <link rel="preload" href="/static/fonts/gotham-regular-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/gotham-regular-cyrillic.woff2" as="font" type="font/woff2" crossorigin>

    <meta http-equiv="refresh" content="5;{{ link }}"> 
</head>

<body>
    <a href="{{ link }}">Перейти по ссылке</a>
</body>
</html>
