{% set title = 'Услуги' %}
{% set description = 'Услуги по верстке и разработке сайтов: исправление ошибок, ускорение и оптимизация, улучшение доступности' %}
{% set keywords = 'верстка сайта, ускорение сайта, оптимизация сайта, доступность сайта' %}
{% set lang = 'ru' %}
{% set activePage = 'services' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<section class="page-main__section services-page">
		<div class="page-main__wrapper">
			<div class="flex flex_justify_center flex_columns">
				<div class="flex__item flex__item_medium_4">
					<h1 class="page-main__heading page-main__heading_large">Услуги</h1>
					<p class="page-main__subheading">Разработаю интерфейс с нуля или по готовым дизайн-макетам, подготовлю к установке на CMS или другой интеграции.</p>
				</div>
			</div>

			<section class="services-page__section flex flex_justify_center flex_columns">
				<div class="flex__item flex__item_large_5">
					<h2 class="page-main__heading">Frontend — услуги разработки</h2>
					<p class="page-main__subheading">Верстка, доработка функционала и улучшение производительности.</p>

					<ul class="services-page__list flex flex_columns flex_columns_1 flex_columns_medium_2">
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Верстка по макету</h3>
							<p class="services-page__text">Вне зависимости от формата и качества макета подготовлю адаптивную верстку, готовую для установки на CMS или публикации в качестве статичного сайта.</p>
							<a href="mailto:hello@frontend-design?subject=Верстка%20по%20макету" class="services-page__link">Есть макет для верстки</a>
						</li>
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Поддержка сайта</h3>
							<p class="services-page__text">Буду выполнять регулярные работы по обновлению и улучшению кода и интерфейса сайта.</p>
							<a href="mailto:hello@frontend-design?subject=Поддержка%20сайта" class="services-page__link">Есть сайт на поддержку</a>
						</li>
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Внедрение адаптива</h3>
							<p class="services-page__text">Разработаю адаптивную верстку для уже существующего сайта: от аккуратной доработки до полной переверстки.</p>
							<a href="mailto:hello@frontend-design?subject=Внедрение%20адаптива" class="services-page__link">Нужно внедрить адаптив</a>
						</li>
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Улучшение производительности</h3>
							<p class="services-page__text">Помогу улучшить скорость работы сайта и заодно получить хорошие баллы по оценкам производительности от Google и других ресурсов.</p>
							<a href="mailto:hello@frontend-design?subject=Улучшение%20производительности" class="services-page__link">Нужно ускорить работу сайта</a>
						</li>
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Улучшение доступности</h3>
							<p class="services-page__text">Сделаю сайт видимым и удобным в использовании для людей с ограниченными возможностями.</p>
							<a href="mailto:hello@frontend-design?subject=Улучшение%20доступности" class="services-page__link">Нужно сделать сайт доступным</a>
						</li>
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Исправление ошибок</h3>
							<p class="services-page__text">Поправлю проблемы в отображении, верну функциональность сайта, избавлю от последствий некачественной работы.</p>
							<a href="mailto:hello@frontend-design?subject=Исправление%20ошибок" class="services-page__link">Что-то пошло не так и нужно это поправить</a>
						</li>
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Внедрение новых функций</h3>
							<p class="services-page__text">Разработаю и внедрю новую функциональность в действующий сайт.</p>
							<a href="mailto:hello@frontend-design?subject=Внедрение%20новых%20функций" class="services-page__link">Нужно улучшить сайт</a>
						</li>
					</ul>
				</div>
			</section>

			<section class="services-page__section flex flex_justify_center flex_columns">
				<div class="flex__item flex__item_large_5">
					<h2 class="page-main__heading">Design — услуги оформления сайта</h2>
					<p class="page-main__subheading">Проектирование сайта с чистого листа, разработка визуального оформления и аудит интерфейса.</p>

					<ul class="services-page__list flex flex_columns flex_columns_1 flex_columns_medium_2">
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Разработка прототипа</h3>
							<p class="services-page__text">Создам по условиям задачи интерактивный прототип, на котором можно будет проверить работу будущего сайта.</p>
							<a href="mailto:hello@frontend-design?subject=Разработка%20прототипа" class="services-page__link">Нужен прототип сайта</a>
						</li>
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Дизайн по прототипу</h3>
							<p class="services-page__text">Буду выполнять регулярные работы по обновлению и улучшению кода и интерфейса сайта.</p>
							<a href="mailto:hello@frontend-design?subject=Дизайн%20по%20прототипу" class="services-page__link">Нужно оформление сайта</a>
						</li>
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Аудит юзабилити</h3>
							<p class="services-page__text">Оценю интерфейс: подберу и протестирую сценарии использования; проверю стандартные паттерны; проведу аудит доступности сайта.</p>
							<a href="mailto:hello@frontend-design?subject=Аудит%20юзабилити" class="services-page__link">Нужно проверить сайт</a>
						</li>
						<li class="services-page__item flex_justify_between flex__item flex__item_1">
							<h3 class="services-page__heading">Редизайн интерфейса</h3>
							<p class="services-page__text">Помогу улучшить скорость работы сайта и заодно получить хорошие баллы по оценкам производительности от Google и других ресурсов.</p>
							<a href="mailto:hello@frontend-design?subject=Редизайн%20интерфейса" class="services-page__link">Нужно переоформить сайт</a>
						</li>
					</ul>
				</div>
			</section>
		</div>
		
		<a href="mailto:hello@frontend-design.ru" class="page-main__button button" target="_blank">Написать мне</a>
	</section>
{% endblock %}
