.menu {
    padding: 16px 0;
    
    text-align: center;

    @include breakpoint(large) {
        text-align: left;
    }
}

.menu__link {
    display: block;
    padding: 10px 16px;
    
    color: color(black);
    
    font-weight: 500;

    transition: color 200ms, background-color 200ms;
    
    &:hover {
        color: color(primary);
        background-color: color(medium-gray);
    }
    &:focus {
        @include focus-outline;
    }    

    @include breakpoint(large) {
        padding: 10px 24px;

        &:hover {
            background-color: color(light-gray);
        }
    }
}

