.menu {
    padding: 16px 0;
    
    text-align: center;

    @include breakpoint(large) {
        text-align: left;
    }
    .page-header_toggling & {
        text-align: left;
    }
}

.menu__link {
    display: block;
    padding: 10px 16px;
    
    color: color(black);
    
    font-weight: 500;

    transition: color 200ms, background-color 200ms;
    
    &:hover {
        color: color(primary);
        background-color: color(medium-gray);
    }
    &:focus {
        @include focus-outline;
    }

    .menu__item_active & {
        color: color(white);
        background-color: color(primary);

        &:hover {
            background-color: darken(color(primary), 7%);
        }
        &:focus {
            outline-color: rgba(color(white), .75);
        }
    }

    @include breakpoint(large) {
        padding: 10px 24px;

        &:hover {
            background-color: color(light-gray);
        }
    }

    .page-header_toggling & {
        padding: 10px 24px;

        &:hover {
            background-color: color(light-gray);
        }
    }
}

