.page-main {
    background-color: color(light-gray);
    background-image: linear-gradient(90deg, color(medium-gray), color(medium-gray) 1px, transparent 1px);
    background-size: calc(25% - 6px) auto;
    background-position: 11px 50%;
    
    @include breakpoint(medium) {
        background-size: calc(16.6666% - 5.5px) auto;
        background-position: 15px 50%;
    }
    @include breakpoint(large) {
        margin-right: 320px;

        $column-width: (1100px - 32px) / 6;
        background-size: $column-width auto;
        background-position: calc(50% - #{$column-width / 2}) 50%;
    }
}

.page-main__section {
    position: relative;
    display: flex;
}

.page-main__section_white {
    background-color: color(white);
}
.page-main__section_black {
    color: color(white);
    background-color: color(black);
}

.page-main__section_promo {
    @include breakpoint(large) {
        min-height: calc(100vh - 64px);
    }
    @include breakpoint(large, down) {
        .page-header_toggling ~ .page-main & {
            min-height: calc(100vh - 100px);
        }
    }
}

.page-main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 80px 24px;
    
    @include breakpoint(medium) {
        padding: 104px 32px;
    }

    @include breakpoint(large) {
        max-width: 1100px;
        margin: 0 auto;
    }

    .page-main__section_promo & {
        padding-left: 12px;
        padding-right: 12px;
        
        @include breakpoint(medium) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

.page-main__heading {
    margin: 0 0 16px;

    font-size: 20px;
    font-weight: 500;
    text-align: center;

    a {
        color: color(black);
        transition: color 200ms;

        &:focus {
            @include focus-outline(true);
        }
        .page-main__section_black & {
            color: color(white);

            &:not(:hover) {
                outline-color: rgba(color(white), .5);
            }
        }

        @include breakpoint(large, down) {
            border-bottom: 2px solid;

            &:hover {
                color: color(secondary);
            }
        }
    }

    @include breakpoint(medium) {
        font-size: 28px;
    }
}

.page-main__subheading {
    margin: 0 0 48px;

    opacity: .7;
    
    text-align: center;

    @include breakpoint(medium) {
        margin-bottom: 64px;
    }
}

.page-main__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    
    white-space: nowrap;

    transform: translate(-50%, 50%);

    @include breakpoint(large) {
        display: none;
    }
}

.page-main__link {
    position: absolute;
    top: 12px;
    left: 50%;

    color: color(black);
    border-bottom: 2px solid;
    opacity: 0;

    font-weight: 500;

    transform: translateX(-50%);
    transition: opacity 200ms;

    .page-main__section:hover & {
        opacity: .4;

        &:hover {
            opacity: .8;
        }
    }
    &:focus {
        opacity: .8;
        @include focus-outline(true);
    }
    .page-main__section_black & {
        color: color(white);
    }
}