.page-footer {
    padding: 24px;
    
    color: color(dark-gray);
    background-color: color(light-gray);
    
    text-align: center;

    @include breakpoint(large) {
        padding-right: 320px;
    }
}

.page-footer__copyright {
    margin: 0;
}