.page-header {
    padding-top: 64px;
    background-color: color(white);
}

.page-header__topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    @include breakpoint(large) {
        padding-right: 320px;
    }
}

.page-header__menu {
    margin: 0;
    list-style: none;
    background-color: color(light-gray);

    @include breakpoint(large) {
        background-color: transparent;
    }
}

.page-header__contacts {
    display: none;
    justify-content: center;
    margin: auto 20px 28px;

    @include breakpoint(large) {
        display: flex;
    }
}

.page-header__button {
    display: none;
    margin: 0 28px 28px;

    @include breakpoint(large) {
        display: block;
    }
}

.page-header__heading {
    display: none;
    height: 65px;
    margin: 0;
    padding: 8px 28px;

    color: color(primary);
    border-bottom: 1px solid rgba(color(primary), .2);

    font-weight: 500;
    line-height: 48px;

    transition: background-color 200ms;

    &:hover {
        background-color: rgba(color(primary), .1);
    }
    &:focus {
        @include focus-outline;
    }

    @include breakpoint(large) {
        display: block;
    }
}

.page-header__nav {
    @include breakpoint(large) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 101;

        display: flex;
        flex-direction: column;
        width: 320px;
        padding: 0;

        background-color: color(white);
        border-left: 1px solid rgba(color(primary), .1);
    }
}