.services__list {
    padding: 0;
    
    list-style: none;
}

.services__item {
    position: relative;
    
    margin-bottom: 32px;
    padding-left: 25%;
    
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        
        display: block;
        width: 23%;
        width: calc(25% - 16px);
        height: 2px;
        
        background-color: color(primary);
    }

    @include breakpoint(medium) {
        margin-bottom: 48px;
        padding-left: 16.666%;

        &::before {
            width: 30%;
            width: calc(33.3333% - 16px);
        }
    }
}

.services__heading {
    margin: 0 0 8px;

    font-weight: 500;
}

.services__text {
    margin: 0;
}