<header class="page-header">
    <div class="page-header__topbar">
        <a href="/" class="logo">
            <span class="logo__text">f<span class="logo__letters">rontend</span></span><span class="visually-hidden">-</span><span class="logo__text">d<span class="logo__letters">esign</span></span>
        </a>
    </div>
    
    <nav class="page-header__nav">
        <ul class="page-header__menu menu">
            <li class="menu__item">
                <a href="#" class="menu__link">Чем помогу</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Обо мне</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Портфолио</a>
            </li>
        </ul>
    </nav>
    
    <ul class="page-header__contacts contacts">
        <li class="contacts__item">
            <a href="https://github.com/wrgraff" class="contacts__link">GitHub</a>
        </li>
        <li class="contacts__item">
            <a href="https://linkedin.com/in/arturtrifonov" class="contacts__link">LinkedIn</a>
        </li>
        <li class="contacts__item">
            <a href="https://www.facebook.com/wrgraff" class="contacts__link">Facebook</a>
        </li>
        <li class="contacts__item">
            <a href="https://twitter.com/a_sassafras" class="contacts__link">Twitter</a>
        </li>
        <li class="contacts__item">
            <a href="https://htmlacademy.ru/profile/wrgraff" class="contacts__link">HTML Academy</a>
        </li>
    </ul>
    
    <a href="mailto:hello@frontend-design.ru" class="page-header__button button" target="_blank">Написать мне</a>
</header>