{% set worksItems = [
    {
        name: ["Olympic touch fitness club", "Фитнесс-клуб Olympic touch"],
        img: "olympic-touch",
        address: 'olympic-touch.ru',
        link: 'https://olympic-touch.ru/',
        categories: ['frontend', 'design']
    },{
        name: ["Real estate agency CER Success", "Агентство недвижимости ЦЭР Успех"],
        img: "success",
        address: 'spb-uspeh.ru',
        link: 'https://spb-uspeh.ru/',
        categories: ['frontend']
    },{
        name: ["Sensormatica equipment catalog", "Каталог оборудования Сенсорматики"],
        img: "sensormatica",
        address: 'sensormatica.ru',
        link: 'https://sensormatica.ru/',
        categories: ['frontend', 'design', 'support']
    },{
        name: ["Stockholm School of Economics Russia", "Стокгольмская Школа Экономики в России"],
        img: "sse",
        address: 'sserussia.org',
        link: 'https://www.sserussia.org/en/',
        categories: ['frontend', 'design', 'support']
    },{
        name: ["Biteh store of industrial equipment", "Магазин промышленного оборудования Битех"],
        img: "biteh",
        address: 'bi-teh.ru',
        link: 'https://bi-teh.ru/',
        categories: ['frontend', 'design', 'support']
    },{
        name: ["BusinesStat Market reviews & business plans store", "Готовые обзоры рынков и бизнес-планы БизнесСтат"],
        img: "businesstat",
        address: 'businesstat.ru',
        link: 'https://businesstat.ru/',
        categories: ['frontend']
    },{
        name: ["FLOVER bouquet shop", "Магазин букетов FLOVER"],
        img: "flover",
        address: 'flowers.frontend-design.ru',
        link: 'https://flowers.frontend-design.ru/',
        categories: ['frontend']
    },{
        name: ["United Design studio", "Студия United Design"],
        img: "ud",
        address: 'uniteddesign.ru',
        link: 'https://uniteddesign.ru/',
        categories: ['frontend', 'design', 'support']
    },{
        name: ["Construction company Pilbet", "Строительная компания Пилбет"],
        img: "pilbet",
        address: 'pilbet.rf',
        link: 'http://пилбет.рф/',
        categories: ['frontend']
    },{
        name: ["UP-quarters page", "Лендинг UP-кварталов"],
        img: "up",
        address: '7035555.ru',
        link: 'http://7035555.ru/',
        categories: ['frontend']
    }
] %}

{% macro addWorksItem(name, img, address, link, categories) %}
    <li class="works__item">
        <h3 class="works__heading">{{ name[0] if (lang == 'en') }}{{ name[1] if (lang == 'ru') }}</h3>
        <div class="works__img">
            <picture>
	            <source srcset="/static/img/works/{{ img }}.webp 1x,
	                            /static/img/works/{{ img }}@2x.webp 2x"
	                    type="image/webp" />
	            <img src="/static/img/works/{{ img }}.png"
	                 srcset="/static/img/works/{{ img }}@2x.png 2x"
	                 alt="{{ name }}"
					 aria-hidden="true" />
	        </picture>
        </div>
        <h4 class="visually-hidden">Тип работ</h4>
        <ul class="works__categories">
            {% for category in categories %}
                <li>{{ category }}</li>
            {% endfor %}
        </ul>
        
        <a href="{{ link }}" class="works__link" target="_blank" rel="noreferrer">
            <svg width="40" height="10" class="works__chain">
                <path class="works__chain-right" d="M23 0h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1 0 1.71-1.39 3.1-3.1 3.1h-4V10h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
                <path class="works__chain-left" d="M9.9 5c0-1.71 1.39-3.1 3.1-3.1h4V0h-4c-2.76 0-5 2.24-5 5s2.24 5 5 5h4V8.1h-4c-1.71 0-3.1-1.39-3.1-3.1z"/>
                <path class="works__chain-center" d="M14 6h8V4h-8z"/>
            </svg>
            <p class="works__link-address">{{ address }}</p>
        </a>
    </li>
{% endmacro %}

<ul class="works__list">
    {% for item in worksItems %}
		{% if activePage == 'index' %}
			{% if loop.index < 5 %}
	        	{{ addWorksItem(item.name, item.img, item.address, item.link, item.categories) }}
			{% endif %}
		{% else %}
			{{ addWorksItem(item.name, item.img, item.address, item.link, item.categories) }}
		{% endif %}
    {% endfor %}
</ul>
