{% set title = '' %}
{% set lang = 'ru' %}
{% set activePage = 'works' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<h1 class="visually-hidden">Портфолио Артура Трифонова</h1>
	
	<section class="page-main__section page-main__section_white works">
		<div class="page-main__wrapper">
			<div class="flex flex_justify_center flex_columns">
				<div class="flex__item flex__item_medium_4">
					<h2 class="page-main__heading">Избранные работы</h2>
					<p class="page-main__subheading">В каждом из проектов я работаю над различным набором задач, поэтому отметил их основными тегами.</p>
				</div>
			</div>

			{% include "blocks/works.njk" %}	
		</div>
	</section>
{% endblock %}
